[Desktop Entry]
Name=Slyh
Comment=Simple yet powerful audio player
Exec=slyh %u
Icon=ru.arabianq.slyh
Terminal=false
Type=Application
Categories=Audio;